<h1>About Cubicle</h1>
<div class="about">
  <p>
    <i>"Carbicle"</i> is a place, where you can sell your car. This application was created as an exercise while I was studying JS Back-End course</a> at the
    <a href="https://softuni.bg/">Software University</a>.
  </p>
  <p>This application helped me to enrich my knowledge of Express.js, MongoDB and Handlebars. </p>
</div>